<div class="header">
    <input [ngModel]="viewStartDate" (ngModelChange)="setViewStartDate($event)" type="date">
    <input [ngModel]="viewEndDate" (ngModelChange)="setViewEndDate($event)" type="date">
</div>

<div class="grid">
  <div
    class="header-months"
    [style.grid-template-columns]="
      viewGridUserColumnWidth +
      'px repeat(' +
      2 * viewHeaderWeeks.length +
      ', ' +
      viewGridColumnWidth / 2 +
      'px)'
    "
  >
    <ng-container *ngFor="let month of viewHeaderMonths; index as i">
      <div
        class="header-month"
        [style.grid-column]="month.startCol + ' / ' + month.endCol"
      >
        <div class="text">
          {{ month.name }}
        </div>
        <!-- <div *ngIf="i < viewHeaderMonths.length - 1" class="line"></div> -->
      </div>
    </ng-container>
  </div>

  <div
    class="header-weeks"
    [style.grid-template-columns]="
      viewGridUserColumnWidth +
      'px repeat(' +
      viewHeaderWeeks.length +
      ', ' +
      viewGridColumnWidth +
      'px)'
    "
  >
    <div class="header-user">Mitarbeiter</div>
    <ng-container *ngFor="let week of viewHeaderWeeks; index as i">
      <div class="header-week">
        <div class="text">
          {{ week.week }}
        </div>
        <div class="vertical-line" [class.present]="isCurrentWeek(week)"></div>
      </div>
    </ng-container>
  </div>

  <div cdkDropList (cdkDropListDropped)="dropUserProject($event)">
    <ng-container *ngFor="let userProject of usersProjects; index as i">
      <div
        cdkDragLockAxis="y"
        cdkDrag
        class="user-projects"
        [style.grid-template-columns]="
          viewGridUserColumnWidth +
          'px repeat(' +
          viewHeaderWeeks.length +
          ', ' +
          viewGridColumnWidth +
          'px)'
        "
        [style.background]="i % 2 ? 'gainsboro' : 'white'"
        [style.border]="i % 2 ? '1px solid lightgray' : ''"
      >
        <div class="username">
          <div class="text">
            {{ userProject.username }}
          </div>
        </div>
        <div *cdkDragPreview>{{ userProject.username }}</div>
        <ng-container
          *ngFor="let project of userProject.projects; index as iProject"
        >
          <ng-container
            *ngTemplateOutlet="
              project.planned ? projectPlanned : (project.endDate < getDateNow() ? projectPast : projectPresent);
              context: { project: project, i: i }
            "
          ></ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<!-- TEMPLATES -->
<ng-template #projectPast let-project="project" let-i="i">
  <div
    class="project-past"
    [style.grid-column]="
      2 +
      viewDateRangeGetWeeks(project.startDate) +
      ' / span ' +
      viewDateRangeGetWeeks(project.endDate, project.startDate)
    "
  >
    <div class="name">{{ project.name }} (abgeschlossen)</div>
  </div>
</ng-template>

<ng-template #projectPresent let-project="project" let-i="i">
  <div
    class="project-present"
    [style.grid-column]="
      2 +
      viewDateRangeGetWeeks(project.startDate) +
      ' / span ' +
      viewDateRangeGetWeeks(project.endDate, project.startDate)
    "
  >
    <div class="name">
      {{ project.name }}
    </div>
  </div>
</ng-template>

<ng-template #projectPlanned let-project="project" let-i="i"> 
    <div
    class="project-planned"
    [style.grid-column]="
      2 +
      viewDateRangeGetWeeks(project.startDate) +
      ' / span ' +
      viewDateRangeGetWeeks(project.endDate, project.startDate)
    "
    [style.background]="'rgba(255, 0, 0, ' + (project.probability || 1) + ')'"
  >
    <div class="name"
    [style.color]="project.probability < 0.5 ? 'black' : 'white'">
      {{ project.name }} (geplant)
    </div>
  </div>    
</ng-template>
